@font-face {
  font-family: 'apercu-regular';
  src: url('/static/fonts/apercu-regular-web/web/apercu-regular.eot');
  src: url('/static/fonts/apercu-regular-web/web/apercu-regular.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/apercu-regular-web/web/apercu-regular.woff2')
      format('woff2'),
    url('/static/fonts/apercu-regular-web/web/apercu-regular.woff')
      format('woff'),
    url('/static/fonts/apercu-regular-web/web/apercu-regular.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'apercu-medium';
  src: url('/static/fonts/apercu-medium-web/web/apercu-medium.eot');
  src: url('/static/fonts/apercu-medium-web/web/apercu-medium.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/apercu-medium-web/web/apercu-medium.woff2')
      format('woff2'),
    url('/static/fonts/apercu-medium-web/web/apercu-medium.woff') format('woff'),
    url('/static/fonts/apercu-medium-web/web/apercu-medium.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'apercu-italic';
  src: url('/static/fonts/apercu-italic-web/web/apercu-italic.eot');
  src: url('/static/fonts/apercu-italic-web/web/apercu-italic.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/apercu-italic-web/web/apercu-italic.woff2')
      format('woff2'),
    url('/static/fonts/apercu-italic-web/web/apercu-italic.woff') format('woff'),
    url('/static/fonts/apercu-italic-web/web/apercu-italic.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'apercu-regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #434343;
}
