@font-face {
  font-family: 'apercu-regular';
  src: url('/static/fonts/apercu-regular-web/web/apercu-regular.eot');
  src: url('/static/fonts/apercu-regular-web/web/apercu-regular.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/apercu-regular-web/web/apercu-regular.woff2')
      format('woff2'),
    url('/static/fonts/apercu-regular-web/web/apercu-regular.woff')
      format('woff'),
    url('/static/fonts/apercu-regular-web/web/apercu-regular.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'apercu-medium';
  src: url('/static/fonts/apercu-medium-web/web/apercu-medium.eot');
  src: url('/static/fonts/apercu-medium-web/web/apercu-medium.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/apercu-medium-web/web/apercu-medium.woff2')
      format('woff2'),
    url('/static/fonts/apercu-medium-web/web/apercu-medium.woff') format('woff'),
    url('/static/fonts/apercu-medium-web/web/apercu-medium.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'apercu-italic';
  src: url('/static/fonts/apercu-italic-web/web/apercu-italic.eot');
  src: url('/static/fonts/apercu-italic-web/web/apercu-italic.eot?#iefix')
      format('embedded-opentype'),
    url('/static/fonts/apercu-italic-web/web/apercu-italic.woff2')
      format('woff2'),
    url('/static/fonts/apercu-italic-web/web/apercu-italic.woff') format('woff'),
    url('/static/fonts/apercu-italic-web/web/apercu-italic.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Figma style guide styles */
:root {
  --color-paper: #f4f4f4;
  --color-blue: #4999d4;
  --color-orange: #f15a2a;
  --color-box: #c59c6e;
  --color-ink: #434343;
  --color-ink-plus-1: #8e8e8e;
  --color-orange-plus-1: #f79c7f;
  /* text-underline-position: under; */
  /* This seems to break on hover effects sadly.  Will have to add to static underlines case by case. */
}
body {
  font-family: 'apercu-regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-ink);
  margin: 0;
  background: #ffffff;
}
h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 121.5px;
  line-height: 100%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 16px;
}
h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 81px;
  line-height: 150%;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 16px;
}
h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 16px;
}
h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 16px;
}
h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 16px;
}
small {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.text-tiny {
  font-style: normal;
  font-weight: 500;
  font-size: 10.67px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
p {
  margin-top: 4px;
  margin-bottom: 4px;
}
.background-color-paper {
  background-color: var(--color-paper);
}
.background-color-orange {
  background-color: var(--color-orange);
}
.background-color-ink {
  background-color: var(--color-ink);
}
.color-ink-plus-1 {
  color: var(--color-ink-plus-1);
}
.font-family-apercu-medium {
  font-family: 'apercu-medium';
}

/* Simple layout system using grid */
.grid-desktop-layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: 24px;
}
.grid-desktop-layout-expandable {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: 24px;
}
@media (max-width: 1200px) {
  .grid-desktop-layout-expandable {
    display: grid;
    grid-template-columns: 0px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0px;
    grid-template-rows: auto;
    column-gap: 24px;
  }
}
.grid-mobile-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 16px;
}
.col-span-1 {
  grid-column: span 1;
}
.col-span-1-offset-1 {
  grid-column: 2 / span 1;
}
.col-span-1-offset-2 {
  grid-column: 3 / span 1;
}
.col-span-1-offset-3 {
  grid-column: 4 / span 1;
}
.col-span-2 {
  grid-column: span 2;
}
.col-span-2-offset-1 {
  grid-column: 2 / span 2;
}
.col-span-2-offset-2 {
  grid-column: 3 / span 2;
}
.col-span-2-offset-3 {
  grid-column: 4 / span 2;
}
.col-span-3 {
  grid-column: span 3;
}
.col-span-3-offset-1 {
  grid-column: 2 / span 3;
}
.col-span-3-offset-2 {
  grid-column: 3 / span 3;
}
.col-span-3-offset-3 {
  grid-column: 4 / span 3;
}
.col-span-4 {
  grid-column: span 4;
}
.col-span-4-offset-1 {
  grid-column: 2 / span 4;
}
.col-span-4-offset-2 {
  grid-column: 3 / span 4;
}
.col-span-4-offset-3 {
  grid-column: 4 / span 4;
}
.col-span-5 {
  grid-column: span 5;
}
.col-span-5-offset-1 {
  grid-column: 2 / span 5;
}
.col-span-5-offset-2 {
  grid-column: 3 / span 5;
}
.col-span-5-offset-3 {
  grid-column: 4 / span 5;
}
.col-span-6 {
  grid-column: span 6;
}
.col-span-6-offset-1 {
  grid-column: 2 / span 6;
}
.col-span-6-offset-2 {
  grid-column: 3 / span 6;
}
.col-span-6-offset-3 {
  grid-column: 4 / span 6;
}
.col-span-7 {
  grid-column: span 7;
}
.col-span-7-offset-1 {
  grid-column: 2 / span 7;
}
.col-span-7-offset-2 {
  grid-column: 3 / span 7;
}
.col-span-7-offset-3 {
  grid-column: 4 / span 7;
}
.col-span-8 {
  grid-column: span 8;
}
.col-span-8-offset-1 {
  grid-column: 2 / span 8;
}
.col-span-8-offset-2 {
  grid-column: 3 / span 8;
}
.col-span-8-offset-3 {
  grid-column: 4 / span 8;
}
.col-span-9 {
  grid-column: span 9;
}
.col-span-9-offset-1 {
  grid-column: 2 / span 9;
}
.col-span-9-offset-2 {
  grid-column: 3 / span 9;
}
.col-span-9-offset-3 {
  grid-column: 4 / span 9;
}
.col-span-10 {
  grid-column: span 10;
}
.col-span-10-offset-1 {
  grid-column: 2 / span 10;
}
.col-span-10-offset-2 {
  grid-column: 3 / span 10;
}
.col-span-11 {
  grid-column: span 11;
}
.col-span-11-offset-1 {
  grid-column: 2 / span 11;
}
.col-span-11-offset-2 {
  grid-column: 3 / span 11;
}
.col-span-11-offset-3 {
  grid-column: 4 / span 11;
}
.col-span-12 {
  grid-column: span 12;
}
.row-span-1 {
  grid-row: span 1;
}
.row-span-2 {
  grid-row: span 2;
}
.row-span-3 {
  grid-row: span 3;
}
.row-span-4 {
  grid-row: span 4;
}
.row-span-5 {
  grid-row: span 5;
}
.row-span-6 {
  grid-row: span 6;
}
.row-span-7 {
  grid-row: span 7;
}
.row-span-8 {
  grid-row: span 8;
}
.row-span-9 {
  grid-row: span 9;
}
.row-span-10 {
  grid-row: span 10;
}

/* Flickity carousel overrides */
.flickity-page-dots {
  bottom: 10px;
}
.flickity-page-dots .dot {
  border: 1px solid black;
  background: none;
}
.flickity-page-dots .is-selected {
  background: #333333;
}
.flickity-button {
  background: none;
}
.flickity-button:hover {
  background: none;
}
.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 24px;
  height: 24px;
}
.flickity-slider {
  z-index: -1;
}

/* Random */
input {
  font-family: 'apercu-regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-ink);
}

.clickable {
  cursor: pointer;
}

.display-flex {
  display: flex;
}

.hidden {
  display: none;
}

.responsive-img {
  width: 100%;
}

.max-width-2000 {
  margin-right: auto;
  margin-left: auto;
  max-width: 2000px;
}

.underlined {
  text-decoration-line: underline;
  text-underline-position: under;
}

/* Overrides to make Airbnb single month calendar responsive */
@media (max-width: 1670px) {
  .DayPicker,
  .DayPicker > div,
  .DayPicker > div > div,
  .DayPicker_transitionContainer,
  .CalendarMonth_table {
    width: 100% !important;
  }

  .CalendarMonthGrid {
    width: 1000% !important;
  }

  .CalendarMonthGrid_month__horizontal {
    width: calc(10% - 18px) !important;
  }

  .DayPicker_weekHeader {
    width: calc(100% - 35px) !important;
  }

  .CalendarDay,
  .DayPicker_weekHeader_li {
    width: 14.285714286% !important;
  }
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: var(--color-orange);
  border: 1px double var(--color-orange);
  color: #fff;
}

.CalendarDay__selected_span {
  background: var(--color-orange-plus-1);
  border: 1px double var(--color-orange-plus-1);
  color: #fff;
}
