.contentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 66px;
}

.panelHeader {
  display: flex;
  align-items: center;
  height: 56px;
  border-bottom: 2px solid #434343;
  margin-bottom: 32px;
}

.updateButtonsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  margin-top: 24px;
}

.subcribeCheckbox {
  margin-top: 8px;
  margin-bottom: 24px;
}

.resetText {
  text-decoration: underline;
}

.errorMessages {
  margin-bottom: 16px;
}

.infoHeader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
