.containerMobile {
  padding: 16px;
}

.containerDesktop {
  padding: 24px;
}

.priceLineContainer {
  margin-top: 16px;
  margin-bottom: 16px;
}

.dateSelectionOuterContainer {
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
}
