.containerMobile {
  padding: 16px;
}

.containerDesktop {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 70px;
}

.priceLineContainer {
  margin-top: 16px;
  margin-bottom: 16px;
}

.dateSelectionOuterContainer {
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 24px;
  padding: 24px;
  max-width: 670px;
}
@media (max-width: 1670px) and (min-width: 800px) {
  .dateSelectionOuterContainer {
    max-width: 500px;
  }
}

.addToButtonsContainerMobile {
  margin-top: 24px;
}

.addToCartButtonContainer {
  margin-bottom: 24px;
}

.keyFeaturesList {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
}

.keyFeaturesList > li:before {
  display: inline-block;
  content: '—';
  width: 1em;
  margin-left: -1em;
}

.readMoreContainer {
  margin-top: 8px;
  margin-bottom: 24px;
}

.extraInfoContainer {
  margin-bottom: 48px;
}

.pairWithTextContainer {
  margin-bottom: 16px;
}

.similarProductsTextContainer {
  margin-top: 48px;
  margin-bottom: 16px;
}

.addToButtonsContainerDesktop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  margin-top: 24px;
}

@media (max-height: 1200px) {
  .containerDesktop {
    padding-left: 0px;
    padding-right: 0px;
  }
}
