.drawerOuterContainer {
  position: absolute;
  top: 72px;
  left: -100vw;
  background-color: white;
  width: 100%;
  transition: left 0.3s;
  z-index: 10;
}

.drawerOpen {
  left: 0;
}

.drawerInnerContainer {
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 2.5;
}

.menuItem {
  display: flex;
  align-items: center;
  height: 36px;
  margin-left: 16px;
}

.menuItem:hover {
  text-decoration: underline;
}

.subMenuContainer {
  margin-left: 16px;
}
