.profileContainer {
  margin-left: 24px;
  margin-right: 24px;
  position: relative;
}

.profileContainerMobile {
  margin-left: 16px;
  margin-right: 16px;
}

.dropdownContent {
  padding-top: 22px;
  padding-bottom: 22px;
  min-width: 175px;
}

.dropdownContent p {
  margin-left: 25px;
  margin-right: 8px;
  padding: 0px;
}

.dropdownContent p:hover {
  text-decoration: underline;
}
