.menuInnerContainer {
  display: inline-flex;
  max-height: 56px;
  align-items: center;
}

.menuInnerContainer h5 {
  margin-right: 8px;
}

.contentContainerExpanded {
  max-height: 600px;
  transition: max-height 1.5s;
  overflow-y: hidden;
  overflow-x: auto;
}

.contentContainerHidden {
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
}
