.categoryText {
  margin-top: 0px;
  margin-bottom: 0px;
}

.removeFromFavoritesButtonContainer {
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.removeFromFavoritesButtonContainer img {
  margin-right: 4px;
}

.favoriteButtonsContainer {
  margin-top: 28px;
}
